asgiref
backports.entry-points-selectable
beautifulsoup4
certifi
charset-normalizer
distlib
dj-database-url
filelock
idna
platformdirs
psycopg2
pyTelegramBotAPI
pytz
requests
six
soupsieve
sqlparse
urllib3
lxml
whitenoise